body,ul,p,h1,h2,h3,h4,h5,input,dl,dd,bu{
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
	list-style: none;
}
body{
	font-size: 14px;
}
img{
	vertical-align: top;
}
input,button,textarea{
	border: 0;
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
i,em,b,strong{
	font-style: normal;
	font-weight: 500;
}
/* 万能清除化 */
.clearall::after{
				content: "asdfasdf";
				clear: both;
				display: block;
				height: 0;
				overflow: hidden;
				visibility: hidden;
}
/* 版心 */
.center{
	width: 1200px;
	margin: 0 auto;
}
/* header */
.header-top{
    height: 50px;
    border-bottom:1px #ccc solid ;
}
.topbar-user{
    float: right;
    line-height: 50px;
    color: #999;
}

.topbar-user a{
    color: #999;
    margin-left: 30px;
}
.topbar-user a:nth-of-type(2){
    margin-left: 0;
}
.topbar-user a .iconfont{
    font-size: 22px;
}
.topbar-user a:hover{
    color: #333;
}
.topbar-user a .iconfont:hover{
    color: #333;
}
/* header-nav */
.header-nav{
    border-bottom:1px solid #ccc ;
    height: 100px;
}
.header-nav h1{
    float: left;
}
.header-nav h1 img{
    margin: 34px 0 0 0;
    width: 53px;
    height: 29px;
}

nav{
    float: right;
}
nav ul li{
    float: left;
    line-height: 100px;
    font-size: 17px;
    font-weight: 900;
    margin:0  25px;

}
nav ul li:hover{
    border-bottom:5px solid red ;
}
nav ul li:last-child:hover{
    border-bottom:0;
}
nav ul li a{
    display: block;
    height: 94px;
}
.search-nav{
    float: right;
    width: 212px;  
    height: 100px;
}
.search-nav  form{
    margin-top: 0;
    width: 212px;
    height: 28px;
    line-height: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 0;
}
.search-nav  form a{
    float: left;
    display: block;
    width: 46px;
    height: 26px;
    border-right: solid 1px #ccc;
    background-color: rgba(red, green, blue, 0.1);
    text-align: center;
}
.search-nav  form a .iconfont{
    font-size: 24px;
    color: #999;
    line-height: 27px;
    
}
.search-nav  form input{
    display: block;
    width: 20px;
    display: inline-block;
    border: 0;
    height: 26px;
    line-height: 26px;
    width: 160px;
    color: #000;
    font-size: 15px;
    text-indent: 10px;
    outline: 0;
}



/* footer */

footer{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-logo{
    float: left;
}
.ft-main{
    margin-left: 100px;
    float: left;
    color: white;
}
.ft-main a{
    color: white;
}
.ft-company{
    padding: 0 20px;
    margin: 15px 0 40px;
}
.ft-main ul li{
    float: left;
    padding: 0 20px ;
    border-right:1px solid white ;
}
.ft-main ul li:last-child{
    border-right:0 ;
}

.web-covers{
    position: fixed;
    z-index: 999;
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 275px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.4);
}
.web-covers li{
    width: 50px;
    margin: 0 auto;
    height: 25%;
    text-align: center;
}
.web-covers li a{
    color: white;
    font-size: 12px;
    text-align: center;
}
.web-covers li a .iconfont{
    display: block;
    margin-top: 20px;
    font-size: 30px;
}