.wrapper {
  width: 100%;
  min-width: 1280px;
  height: 600px;
}
.wrap {
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 50px 0 0 0;
  background: url(../img/login/login-01.jpg) no-repeat;
  background-size: 100% auto;
}
.reg-box {
  height: 500px;
  position: relative;
}
.reg {
  position: absolute;
  right: 0;
  padding: 72px 0 0 0;
  width: 500px;
  height: 428px;
  background-color: white;
}
.reg-title {
  width: 356px;
  /* height: 45px; */
  margin: 0 auto;
  padding: 10px 0;
}
.reg-title div {
  height: 35px;
  width: 50%;
  float: left;
  line-height: 35px;
  cursor: pointer;
  text-align: center;
  color: #999;
  background: #fbfbfb;
}
.reg-title div:first-child {
  color: white;
  background-color: rgb(34, 34, 34);
}
.reg-main {
  width: 356px;
  margin: 0 auto;
}
/* .phone-main */
.phone-main {
  display: block;
}
.email-main {
  display: none;
}
.reg-main p {
  color: #666;
  font-weight: 800;
  margin: 10px 0 10px;
}

.phone-main form > input:nth-of-type(1),
.phone-main form > input:nth-of-type(2) {
  width: 328px;
  height: 16px;
  margin: 10px 0;
  padding: 13px 14px;
  border: 1px #ccc solid;
}
.verification {
  width: 356px;
}
.verification input {
  width: 210px;
  float: left;
  height: 16px;
  margin: 10px 0;
  padding: 13px 14px;
  border: 1px #ccc solid;
}
.verification span {
  display: block;
  float: left;
  width: 111px;
  height: 36px;
  margin-top: 13px;
  background-color: aqua;
  margin-left: 5px;
}
.clause input {
  position: relative;
  top: 1px;
}
.error_prompt {
  display: block;
  margin: 10px 0 13px;
  color: red;
  font-size: 12px;
}
.phone-main form > input[type="button"] {
  width: 360px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 1px #ccc solid;
  cursor: pointer;
}
/* email-main */

.email-main form > input:nth-of-type(1),
.email-main form > input:nth-of-type(2) {
  width: 328px;
  height: 16px;
  margin: 10px 0;
  padding: 13px 14px;
  border: 1px #ccc solid;
}
.email-main form > input[type="button"] {
  width: 360px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 1px #ccc solid;
  cursor: pointer;
}
